*{
    padding: 0;
    margin: 0;
}

body{
    background: url(../img/fundo.png);
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border: 1px solid red;
    width: 920px;
    margin: 0px auto;
    padding: 20px;
}

.links{
    text-decoration: none;
    text-align: right;
    color: black;
    width: 400px;
}

#capa{
    margin-top: 15px;
}

td h2{
    padding: 20px 0;
}

td p{
    padding: 10px 0;
}

#rodape{
    text-align: center;
    font-weight: bolder;
    padding: 40px 0 0 0;
}

#sobre{
    background: url(../img/fundo2.png);
}

#sobre h3{
    padding: 20px 0;
}

#sobre ol li{
    list-style-position: inside;
    text-indent: 20px;
}

#sobre hr{
    margin: 10px 0;
}
